:root {
  --text-color-primary: #eeeeee;
  --text-color-hover: #ebb72e;
  --background: #1e194d;
}

body {
  background-color: #dedede;
  font-family: "Roboto Condensed", sans-serif !important;
}

/* Navbar */
.navbar {
  background-color: var(--background) !important;
}

.nav-link {
  padding: 8px 16px !important;
  color: var(--text-color-primary) !important;
}

.nav-link:hover {
  color: var(--text-color-hover) !important;
}

.nav-item .active {
  color: var(--text-color-hover) !important;
}
/* End Navbar */

/* Hero */
.jumbotron {
  background-image: url(img/hero-8.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  height: 700px;
  display: flex;
  align-items: center;
  color: var(--text-color-primary) !important;
  overflow: hidden;
}

.display-6,
.display-5,
.display-4 {
  font-weight: 600 !important;
}

.jumbotron .display-6 {
  font-family: "Otomanopee One", sans-serif !important;
}

.jumbotron .display-4 {
  font-family: "Potta One", sans-serif !important;
}

.display-4 {
  font-size: 36px;
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
/* End Hero */

/* Gallery */
section.gallery-wisata {
  background-color: var(--text-color-primary);
  padding: 85px 0;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.gallery a {
  position: relative;
  height: 200px;
  width: 300px;
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px #504e4e;
}

.gallery a .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: height 0.3s ease;
}

.gallery a:hover .overlay {
  height: 100%;
}

.gallery a .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: var(--text-color-primary);
  transition: transform 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.gallery a:hover .caption {
  opacity: 1;
}

.gallery a:hover .caption:hover {
  color: var(--text-color-hover);
}

.gallery a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery a:hover img {
  transform: scale(1.2);
}
/* End Gallery */

/* Category Card */
.category-card,
.event {
  background-color: var(--background);
  padding: 85px 0;
}

.category-card h1 {
  color: var(--text-color-primary);
}

.category-card .card {
  border-radius: 4px;
  background: var(--text-color-primary);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.category-card .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.category-card .card a {
  text-decoration: none;
}

.category-card .card h3 {
  font-weight: 600;
}

.category-card .card img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.category-card .card-1 {
  background-image: url(img/summer-holidays.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.category-card .card-2 {
  background-image: url(img/time-management.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.category-card .card-3 {
  background-image: url(img/reading-book.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media (max-width: 990px) {
  .category-card .card {
    margin: 20px;
  }
}
/* End Category Card */

/* Explore & Event*/
.explore {
  background-color: var(--text-color-primary);
  padding: 85px 0;
}

.explore .card,
.event .card {
  padding: 12px;
  border-radius: 8px;
}

.explore .card h3,
.event .card h3 {
  font-weight: 600;
}

.explore .card h3 a,
.event .card h3 a {
  text-decoration: none;
}

.explore .card h3 a:hover,
.event .card h3 a:hover {
  color: var(--text-color-hover) !important;
}

.explore .card .card-img-top,
.event .card .card-img-top {
  border-radius: 8px;
}

.explore .card-body,
.event .card-body {
  padding: 12px 0 0;
}

.explore .card-body .card-text,
.event .card-body .card-text {
  margin-bottom: 5px;
}

.explore .card-body p small {
  color: #6941c6 !important;
}
/* End Explore */

/* Event */
.event .card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.event .card .title h3 {
  margin-bottom: 0;
}
.event .card-body p .text-event {
  color: #6941c6 !important;
}
/* End Event */

/* Review */
.review {
  width: 100%;
  height: 100%;
  background-color: var(--text-color-primary);
  padding: 85px 0;
}

.carousel-item {
  i {
    color: rgba(#000, 0.3);
  }
}

.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: var(--background);
  border-radius: 1.25rem;
  height: auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.5625rem solid transparent;
  border-right: 1.5625rem solid transparent;
  border-top: 1.25rem solid var(--background) !important;
  margin-left: 4.6875rem;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}
/* End Testimoni */

/* Footer */
.footer {
  color: var(--text-color-primary) !important;
}

.footer .social-media a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer .social-media a span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-media a span i {
  width: 50px;
}

.footer .text-reset {
  text-decoration: none;
}

.footer .text-reset:hover {
  color: var(--text-color-hover) !important;
}

.footer .btn-outline-light:hover {
  background-color: var(--text-color-hover) !important;
  outline: none;
  border: none;
}
/* End Footer */
